@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

:root {
  --color-main: #35155D;
  --main-accent: #8CABFF;
  --bg: #4477CE;
  --bg-2: #8CABFF;
  --main: #512B81;
    --shadow: rgba(17, 17, 26, 0.1) 2px 0px 16px;
  }
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Sarabun', sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  font-family: 'Sarabun' !important;
  background-color: var(--main-accent) !important;
  overflow-x: hidden;
}
.bgColorMain{
  background-color: var(--bg-2) !important;
}

.textHeadTable{
  font-weight: bold;
}

.table td {
  font-size: 1rem;
}
.me-1 {
margin-right: .25rem !important;
}
.badge {
text-transform: uppercase;
line-height: .75;
}
.bg-label-success {
background-color: #e8fadf !important;
color: #71dd37 !important;
}
.bg-label-incomplete {
background-color: #FF8080 !important;
color: #FFF !important;
}
.bg-label-warning {
background-color: #fff2d6 !important;
color: #ffab00 !important;
}
.bg-label-notprocess {
background-color: #797d7f   !important;
color: #FFF !important;
} 
.bg-label-info {
background-color: #d7f5fc !important;
color: #03c3ec !important;
}

.colorCircle {
  display: block;
  justify-content: space-between;
  align-items: center;
  min-width: 55px;
  max-width: fit-content;
  margin: auto;
}

.circle{
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}


img {
  width: 100%;
  height: auto;
}
#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .sidebar {
  left: -345px;
}
#menu-toggle:checked ~ .main-content {
  margin-left: 0;
  width: 100vw;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

/* helper */
.text-danger {
  color: red;
}
.text-success {
  color: #2ec3a3;
}
.text-main {
  color: var(--color-main);
}
/*
Sidebar
*/
.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}
.sidebar-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar {
  width: 5px;
}
.sidebar-container::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: var(--main-accent);
  outline: 1px solid #ccc;
  border-radius: 2px;
}
.brand {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand h3 {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.brand h3 span {
  color: var(--color-main);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.sidebar-avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: 0.1rem 0.7rem;
  border-radius: 7px;
  margin: 2rem 0rem;
}
.sidebar-avatar img {
  width: 40px;
  border-radius: 10px;
  margin: 5px 0;
}
.avatar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headMenuTitle{
  margin-bottom: 1rem;
  margin-top: 1rem;

}
.nounderline{
  text-decoration: none !important
} 
hr {
    margin-top: 1rem;  
}

.sidebar-menu a {
  color: var(--main-text);
  display: block;
  padding: 0.7rem 0;
}
.sidebar-menu a.active {
  background-color: var(--main-accent);
  border-radius: 7px;
  padding: 0.8rem;
}
.sidebar-menu a span:first-child {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.5rem;
  color: var(--color-main);
}
.sidebar-card {
  background-color: var(--main-accent);
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 7px;
}
.side-card-icon span {
  font-size: 8rem;
  color: var(--color-main);
  display: inline-block;
}
.side-card-icon {
  margin-bottom: 0.8rem;
}
.side-card-icon + div {
  margin-bottom: 1rem;
}
.side-card-icon + div p {
  font-size: 0.8rem;
  color: #555;
}
.btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.btn span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-main {
  background-color: var(--color-main);
  color: #fff;
}
/* main */
.main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 2rem 1.2rem 1.2rem;
  transition: margin-left 300ms;
}
/* Header */
header {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
}
.header-wrapper {
  display: flex;
}
.header-wrapper label {
  display: inline-block;
  color: var(--color-main);
  margin-right: 2rem;
  font-size: 1.8rem;
}
.header-wrapper label span:hover {
  cursor: pointer;
}
.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}
.header-title p {
  color: #666;
  font-size: 0.9rem;
}
.header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.header-action button {
  padding: 0.85rem 2rem;
  font-size: 1rem;
}

/* main {
  padding: 2.5rem 0;
} */
.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 3rem;
}
.analytic {
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 2rem;
}
.analytic-info h4 {
  font-weight: 400;
  color: #555;
  font-size: 0.98rem;
  margin-left: 10px;
}
.analytic-info h1 {
  color: var(--main-text);
  font-weight: 600;
  margin-left: 15px;
  text-align: center;
}
.analytic-info h1 small {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
}
.analytic:first-child .analytic-icon {
  background-color: #dce5ff;
  color: #2ec3a3;
}
.analytic:nth-child(2) .analytic-icon {
  background-color: #ebf7f5;
  color: red;
}
.analytic:nth-child(3) .analytic-icon {
  background-color: #ebf7f5;
  color: #FFBF00;
}
.analytic:nth-child(4) .analytic-icon {
  background-color: var(--main-accent);
  color: #000;
}
.analytic-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 0.7rem;
}
.section-head {
  font-size: 1.4rem;
  color: var(--main);
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-head-Table {
  font-size: 1.4rem;
  color: var(--main);
  font-weight: 600;
  margin-bottom: 1rem;
}
.block-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 45% auto;
}
.container-fluid {
  --bs-gutter-x: 0 !important;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background-color: #fff;
  box-shadow: var(--shadow);
  /* border-radius: 15px; */
  padding: 0rem 0rem 0rem 0rem; /* กำหนด padding ด้านขวาเป็น 73rem และอื่น ๆ ตามต้องการ */
  text-align: center;
  margin: 0 auto; /* จัดกลาง */
  width: 100%; /* ทำให้กว้างเต็มที่ */
}

.table-responsive {
  width: 100%; /* ให้ตารางขยายเต็มความกว้าง */
  overflow-x: auto; /* ให้สามารถเลื่อนซ้ายขวาได้ */
}

#tb_Form {
  width: 100%; /* ให้ตารางขยายเต็มความกว้าง */
  border-collapse: collapse; /* ทำให้เส้นขอบตารางติดกัน */
}

.table-light th, .table-light td {
  padding: 1rem; /* เพิ่ม padding ให้กับเซลล์ในตาราง */
  text-align: center; /* จัดกลางข้อความในเซลล์ */
}

.rev-content img {
  width: 180px;
  margin: 1.5rem 0;
  border-radius: 50%;
}
.rev-info {
  margin-bottom: 1rem;
}
.rev-info h3,
.rev-sum h4 {
  font-weight: 600;
  color: var(--main);
}
.rev-info h1,
.rev-sum h2 {
  font-weight: 400;
  margin-top: 0.4rem;
  color: #555;
}
.rev-info h1 small {
  font-size: 1rem;
}
.rev-sum {
  background-color: var(--main-accent);
  border: 1px solid var(--color-main);
  padding: 1rem;
  border-radius: 10px;
}
.graph-content {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 1rem;
  background-color: #fff;
}
.graph-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-wrapper {
  display: flex;
  align-items: center;
}
.icon {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  background-color: #eee;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}
.card-body select {
  outline: none;
  background-color: #eee;
  height: 35px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
}

.graph-select select {
    outline: none;
    background-color: #eee;
    height: 35px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: none;
  }
.overlay label {
  display: block;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1224px) {
  .sidebar {
    left: -345px;
    z-index: 30;
  }
  .main-content {
    width: 100vw;
    margin-left: 0;
  }
  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }
  #menu-toggle:checked ~ .overlay {
    display: block;
    text-align: right;
  }
}
@media only screen and (max-width: 860px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
  .block-grid {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .revenue-card {
    width: 100%;
    max-width: 1200px; /* กำหนด max-width ตามต้องการ */
    margin: 0 auto;
  }
}
@media only screen and (max-width: 580px) {
  .analytics {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .header,
  header-wrapper {
    align-items: center;
  }
  .header-title h1 {
    font-size: 1.2em;
  }
  .header-title p {
    display: none;
  }
}